<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Panel Principal</h1>

    <!-- Botones para cargar contenido en el modal -->
    <button hx-get="/seguridad/" hx-target="#modalBody" hx-trigger="click" class="btn btn-primary" data-toggle="modal" data-target="#contentModal">Ver Seguridad</button>
    <button hx-get="/create-seguridad/" hx-target="#modalBody" hx-trigger="click" class="btn btn-primary" data-toggle="modal" data-target="#contentModal">Crear Seguridad</button>

    <!-- Modal Structure -->
    <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Contenido Dinámico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    <!-- El contenido de la página se cargará aquí dinámicamente -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Incluye HTMX -->
    <script src="https://unpkg.com/htmx.org"></script>
</body>
</html>
