{% extends 'base.html' %}

{% block title %}Listado de Tareas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Listado de Tareas</h1>
    <a href="{% url 'crear-tarea' %}" class="btn btn-success"><i class="fas fa-plus"></i> Crear Tarea</a>
</div>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Verbo</th>
            <th>Objeto</th>
            <th>Orden de Venta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.verbo }}</td>
            <td>{{ tarea.objeto }}</td>
            <td>{{ tarea.orden_de_venta }}</td>
            <td>
                <a href="{% url 'detalle_tarea' tarea.id %}" class="btn btn-primary">Ver Detalle</a>
                <a href="{% url 'editar-tarea' tarea.id %}" class="btn btn-primary">Editar Tarjeta</a>
                <a href="{% url 'editar_tarea_nuevo' tarea.id %}" class="btn btn-primary">Editar Tarea</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    