{% extends 'base.html' %}

{% block title %}Listado de Tareas{% endblock %}

{% block content %}
<h1>Listado de Tareas</h1>
<H2><a href="{% url 'crear-tarea' %}">Crear Tarea</a></H2>
<table class="table">
    <thead>
        <tr>
            <th>Verbo</th>
            <th>Objeto</th>
            <th>Orden de Venta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.verbo }}</td>
            <td>{{ tarea.objeto }}</td>
            <td>{{ tarea.orden_de_venta }}</td>
            <td>
                <a href="{% url 'detalle_tarea' tarea.id %}" class="btn btn-info">Ver Detalle</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
