{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4 text-primary">Añadir Seguridad</h1>


<div id="seguridad-forms">
    {% include 'partials/form_seguridad.html' %}
</div>

<div class="my-4">
    <button type="button" class="btn btn-success me-2"
    hx-get="{%  url 'create-seguridad' %}"
    hx-target="#seguridad-forms"
    hx-swap="beforeend"> Crear formulario</button> 
    <button type="button" class="btn btn-primary" id="submit-all">Añadir Todos</button>  
</div>

<ul id="seguridad-list">
    {% for seguridad in seguridades %}
        {% include 'partials/seguridad.html' %}
    {% endfor %}
</ul>

{% endblock %}

