{% extends 'base.html' %}

{% block title %}Listado de Mis Tarjetas de Control{% endblock %}

{% block content %}
<h1>Listado de Tarjetas de Control</h1>
<h2><a href="{%  url 'crear_tarjeta_control' %}">Crear Tarjeta de Control</a></h2>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Fecha de Creación</th>
            <th>Valorización</th>
            <th>Número de Tareas</th>
            <th>Creado por</th> <!-- Nueva columna para el nombre de usuario -->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarjeta in tarjetas %}
        <tr>
            <td>{{ tarjeta.titulo }}</td>
            <td>{{ tarjeta.fecha_creacion|date:"Y-m-d H:i" }}</td>
            <td>{{ tarjeta.valorizacion }}</td>
            <td>{{ tarjeta.num_tareas }}</td>
            <td>{{ tarjeta.usuario.username }}</td> <!-- Muestra el nombre de usuario del creador -->
            <td>
                <a href="{% url 'detalle_tarjeta_control' tarjeta.id %}" class="btn btn-info">Ver Detalle</a>
                <a href="{% url 'editar_tarjeta_control' tarjeta.id %}" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
