{% extends "base.html" %}

{% block title %} Lista de Procesos {% endblock %}

{% block extra_css %}
<!-- Estilos de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

<!-- Estilos personalizados -->

{% endblock %}

{% block content %}
<!-- Contenido principal -->
<div>
    <form method="post" action="{% url 'editar_proceso' proceso.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
    </form>
</div>
{% endblock %}