<form hx-post="{% url 'create-operativo' %}" hx-target="#operativos-list" hx-swap="beforeend" hx-on="htmx:afterRequest: this.remove()" hx-trigger="click from:#submit-all">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <!-- Nombre -->
        <div class="p-2">
            <label for="{{ form.nombre.id_for_label }}" class="form-label">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        
        <!-- Operativo Equipos -->
        <div class="p-2">
            <label for="{{ form.operativo_equipos.id_for_label }}" class="form-label">{{ form.operativo_equipos.label }}</label>
            {{ form.operativo_equipos }}
        </div>
        
        <!-- Operativo Materiales -->
        <div class="p-2">
            <label for="{{ form.operativo_materiales.id_for_label }}" class="form-label">{{ form.operativo_materiales.label }}</label>
            {{ form.operativo_materiales }}
        </div>
        
        <!-- Operativo Herramientas -->
        <div class="p-2">
            <label for="{{ form.operativo_herramientas.id_for_label }}" class="form-label">{{ form.operativo_herramientas.label }}</label>
            {{ form.operativo_herramientas }}
        </div>
        
        <!-- Operativo Mano de Obra -->
        <div class="p-2">
            <label for="{{ form.operativo_manodeobra.id_for_label }}" class="form-label">{{ form.operativo_manodeobra.label }}</label>
            {{ form.operativo_manodeobra }}
        </div>
        
        <!-- Operativo EPPs -->
        <div class="p-2">
            <label for="{{ form.operativo_epps.id_for_label }}" class="form-label">{{ form.operativo_epps.label }}</label>
            {{ form.operativo_epps }}
        </div>
        
        <!-- Operativo Generales -->
        <div class="p-2">
            <label for="{{ form.operativo_generales.id_for_label }}" class="form-label">{{ form.operativo_generales.label }}</label>
            {{ form.operativo_generales }}
        </div>
        
        <!-- Botón de acción -->
        <div class="p-2 justify-content-end">
            <button class="btn btn-danger" type="button" hx-on="click: this.closest('form').remove()">Cancelar</button>
        </div>
    </div>
</form>




