{% extends "base.html" %}

{% block title %} Lista de Procesos {% endblock %}

{% block extra_css %}
<!-- Estilos de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

<!-- Estilos personalizados -->
<style>
    #miTablaDeProcesos {
        border-collapse: collapse;
        width: 100%;
        background-color: #f4f4f4; /* Fondo de la tabla */
    }

    #miTablaDeProcesos th, #miTablaDeProcesos{
        border: 1px solid #ddd; /* Bordes de las celdas */
        padding: 8px;
    }

    #miTablaDeProcesos th {
        background-color: #007bff; /* Color de fondo para los encabezados */
        color: white;
        text-align: left;
    }

    /* Estilos para el hover en filas */
    #miTablaDeProcesos tr:hover {
        background-color: #ddd;
    }

    .svg {
        width: 13px;
        fill: white;
    }

    .align-right {
        text-align: right;
    }    

</style>
{% endblock %}

{% block content %}
<!-- Contenido principal -->
<div>
    <div class="row">
        <div class="col">
            <h2>Lista de Sub procesos</h2>
        </div>
        <div class="col align-right">
            <a href="{% url 'crear_proceso' %}" class="btn btn-primary">Crear proceso</a>
        </div>
    </div>
    <table id="miTablaDeProcesos" class="display table table-striped table-bordered">
        <thead>
          <tr>
              <th>Nombre del Subproceso</th>
              <th>Acciones</th> <!-- Columna para los botones -->
          </tr>
      </thead>
      <tbody>
          {% for subproceso in subprocesos %}
          <tr class"listaProcesos">
              <td>{{ subproceso.nombre }}</td>
              <td>
                  <!-- Botones Editar y Eliminar -->
                  <a href="" class="btn btn-primary btn-sm">Editar
                    <svg class="svg" viewBox="0 0 512 512">
                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                    </svg>  
                  </a>
                  <a href="" class="btn btn-danger btn-sm">Eliminar
                    <svg class="svg" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                    </svg>
                  </a>
                  <a href="{% url 'ver_subproceso' subproceso.id %}" class="btn btn-info btn-sm">Ver Detalles 
                    <svg class="svg" viewBox="0 0 20 20">
                        <path d="M13 3L16 6L19 9M13 3L5 3L5 21L19 21L19 9M13 3L13 9L19 9"></path>
                    </svg>
                  </a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  
</div>
{% endblock %}

{% block extra_js %}
<!-- Scripts de DataTables y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function() {
    $('#miTablaDeProcesos').DataTable({
        responsive: true,
        autoWidth: true,
        pageLength: 15,  // Número de filas inicial por página
        lengthMenu: [[, 10, 15, -1], [5, 10, 15, "Todas"]],
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json"
        }
    });
});
</script>
<script>
$('.btn-danger').on('click', function(e) {
  e.preventDefault();
  var url = $(this).attr('href');
  if (confirm('¿Estás seguro de que quieres eliminar este proceso?')) {
      window.location.href = url;
  }
});

</script>
{% endblock %}
